.container {
  width: 50%;
  max-width: 900px;
}

.button {
  transition: all 0.2s ease-in-out;
}

.startButton {
  margin-top: 50px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.08);
  filter: brightness(0.9);
}
