.container {
  width: 50%;
  max-width: 900px;
}

.button {
  transition: all 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  filter: brightness(0.9);
}

.box {
  height: 300px;
  overflow-y: auto;
}
