#SourceManage {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#SourceManage_top {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
}

#SourceManage_main {
  width: 100%;
  height: 75%;
  align-items: center;
  justify-content: center;
}

#SourceManage_bottom {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#SourceManage_header {
  text-align: left;
  margin-bottom: 1vh;
}

#SourceManage_path {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5vw;
}

#SourceManage_pagination {
  margin-right: 5%;
}

.sourceRadio {
  text-align: left;
}

.radioIcon {
  margin-left: 5px;
  margin-right: 1vw;
}

.rs-divider-horizontal {
  margin: 12px 0;
}

#SourceManage_preSelect {
  height: 100%;
}

#SourceManage_optionSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#SourceManage_form {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  overflow-y: auto;
}

.SourceManage_panel {
  width: 90%;
  height: 90%;
}

.rs-panel-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#SourceManage_panel_form {
  height: 80%;
  display: flex;
  flex-direction: column;
}

#SourceManage_panel_btn {
  height: 20%;
  display: flex;
}

.stackBox {
  margin-bottom: 2%;
}

#SourceManage_log {
  width: 60%;
  height: 100%;
  display: flex;
}

#SourceManage_accordion {
  width: 90%;
}

#scopeList {
  overflow-y: scroll;
}

#log_container {
  height: 55%;
}
