#Home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#sideNavContainer {
  width: 20vw;
  height: 100vh;
}

#sideNav {
  width: 100%;
  height: 100vh;
}

#sideNav a {
  display: flex;
}

#HomeContent {
  width: 80vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#HomeNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-right: 0;
  padding-left: 0;
}

#mainNav {
  height: 88%;
  overflow-y: scroll;
}

#userNav {
  height: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10%;
  cursor: pointer;
  transition: 0.3s;
}

#userNav div {
  transition: 0.3s;
}

#userNav:hover div {
  transition: 0.3s;
  background-color: #999;
}

#title {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  cursor: pointer;
}

#title p {
  color: lightblue;
}

.clickItem {
  color: lightgreen;
}

.animated.jello {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
  animation-iteration-count: infinite;
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
  animation-name: jello;
  transform-origin: center;
}

@keyframes jello {
  from,
  11.1%,
  to {
    transform: translate3d(0, 0, 0);
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
